<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Add a new book</h1>
    <form method="POST">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>
        <label for="author">Author:</label>
        <input type="text" id="author" name="author" required>
        <label for="year">Publication Year:</label>
        <input type="number" id="year" name="year" required>
        <label for="genre">Genre:</label>
        <input type="text" id="genre" name="genre" required>
        <button type="submit">Add Book</button>
    </form>
<a href="/">home page</a>
</body>
</html>
<!--!>